<!DOCTYPE html>
<html>
	<head>
		<title>Gestión de Stock</title>
		<% include ../head %>
	</head>

<body>
	 <h1>Gestión de Stock</h1>


	<a class="myButton" href="">Agregar +</a>
	
	<h3> Listado: </h3>

	<table>
		<thead>
			<tr>
				<td>Id</td>
				<td> Producto </td> 			
				<td> Almacen </td> 			
				<td> Unidad de Medida </td> 			
				<td> Cantidad </td> 			
				<td> Acciones </td>
			</tr>
		 </thead>
		<tbody>
			<tr>                 
			</tr>

		</tbody>
	</table>

	 <footer>
		<% include ../footer %>
	  </footer>
		
	
</body>
</html>
