<!DOCTYPE html> 
<html>   
	<head>     
	<title>Gestión de Productos</title>     
	<link rel='stylesheet' href='/stylesheets/style.css' />     
	<% include ../head %> 
	</head>   
<body>

	<h1>Productos</h1>

	<a class="myButton" href="/new_product">Agregar +</a>
	
	<h3>Listado:</h3>

	<table>
	<thead>
		<tr>
			<td>Id</td>
			<td>Fecha</td>
			<td>Linea</td>
			<td>Codigo</td>
			<td>Marca </td>
			<td>Descripcion</td>
			<td>Nombre Comercial</td>
			<td> Imagen </td>
			<td> Acciones </td>
		</tr>
	</thead>
	<tbody>
		<tr>
			
		</tr>
	</tbody>
	</table>

	<footer>         
		<% include ../footer %>     
	</footer>


</body> 
</html>
