<!DOCTYPE html> 
<html>   
	<head>     
		<title>Gestión de Costos</title>     
		<% include ../head %> 
	</head>

<body>

	<h1>Costos</h1>
		
	<a class="myButton" href="">Agregar +</a>

	<table>
		<thead>
			<tr>	
				<td> ID </td> 			
				<td> Producto </td> 			
				<td> PPACK </td> 			
				<td> Costo </td> 			
				<td> Mayorista </td> 			
				<td> Minorista </td> 			
				<td> Agencia </td> 			
				<td> Lista </td> 			
				<td> Acciones </td>

			</tr>

		</thead>
	<tbody>
		<tr>
		</tr>

	</tbody>

</table>
</html>
