<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../views/head %>
</head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    

	<form action="/product/product_list" method="post"> 			
		<input type="submit" class="myButton" value="Gesti贸n de Productos" /> 		
	</form>
	<form action="/warehouse/warehouse_list" method="post">                 
		<input type="submit" class="myButton" value="Gesti贸n de Almacen" />         
	</form>
	<form action="/stock/stock_list" method="post">                 
		<input type="submit" class="myButton" value="Gesti贸n de Stock" />         
	</form>
	<form action="/cost/cost_list" method="post">
                <input type="submit" class="myButton" value="Gesti贸n de Precios" />
        </form>

    <footer>         
	<% include ../views/footer %>     
    </footer>  

</body>
</html>
