<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ../views/head %>
</head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a class="myButton" href="/product">Gesti贸n de Productos</a>
    <a class="myButton" href="/warehouse">Gesti贸n de Almacen</a>
    <a class="myButton" href="/stock">Gesti贸n de Stock</a>
    <a class="myButton" href="/cost">Gesti贸n de Precios</a>

    <footer>         
	<% include ../views/footer %>     
    </footer>  

</body>
</html>
